.detalle-izq,.detalle-mapa,.detalle-difunde,.detalle-tags
{
  box-shadow:0 2px 3px #aaa;
  background:white;
  border-radius:3px;
}

.detalle-izq
{
	width: 640px;
	position: absolute;
	height: calc(100% - 80px);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}

.detalle-termometro
{
	position: relative;
	width: 32px;
	height: 32px;
	left:50px;
	top:18px;
	background-image: url("/icons/termometro_1.png");	
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
    display: none;
    float:left;
}

.detalle-cabecera
{
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: #6a94d4;
	color: white;
	font-size: 30px;
    border-radius:3px 3px 0px 0px;
}

.detalle-menu
{
	width: 105px;
	height: calc(100% - 70px);
	float:left;
	text-align: right;
    border-right:thin solid #CCCCCC;
    margin-right: 5px;
    padding-right:5px;
    padding-top:20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

#descripcion,#contacto
{
	font-weight: bold;
	color: #6666ff;
	cursor:hand;cursor:pointer;
}

#descripcion:hover,#contacto:hover
{
	color: #6a94d4;
}

.detalle-cuerpo
{
    overflow-y: auto;
    height: calc(100% - 70px);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}


.detalle-cuerpo-texto
{
	padding-top: 21px;
}


.detalle-cuerpo-texto span
{
    background-color:yellow;    
}


.detalle-cuerpo-contacto
{
    padding-top:10px;
    padding-bottom: 10px;
}

.detalle-cuerpo-contacto-titulo
{
	margin-top: 10px;
	font-size: 18px;
	color: #6666ff;
	font-weight: bold;
}

.detalle-cuerpo-contacto-elemento
{
    height: 13px;    
    font-size: 14px; 
    color: #6666ff;
    font-weight: bold;    
    padding-left: 18px;
}

.detalle-cuerpo-blankSpace
{
    height: calc(100% - 96px);
}



.detalle-difunde
{
	position: fixed;
	left:67.3%;
	margin-top: 275px;
	width:320px;
	height: 62px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	z-index: 25;
	padding: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}


.detalle-difunde-titulo
{	
	font-size: 16px;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
	color: #6666ff;
}

.detalle-difunde-contenido
{
	padding: 5px;
}

#toolbox
{
	float:left;
}

.detalle-tags
{
	position: fixed;
	left:67.3%;
	margin-top: 352px;
	width:320px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	z-index: 25;
	padding: 5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

.detalle-tags-titulo
{	
	font-size: 16px;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
	color: #6666ff;
}
.detalle-tags-etiquetas
{
	padding: 5px;
}

.tagFiltro-tematica-imagen
{
	float:left;
	width:18px;
	height:18px;
	opacity:0.5;
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url("/icons/etiqueta30x30.png");	
	margin-right: 4px;
}

.tagFiltro-etiqueta-imagen
{
	float:left;
	width:18px;
	height:18px;
	opacity:0.5;
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url("/icons/etiquetas30x30.png");	
	margin-right: 4px;
}

.detalle-mapa
{
	position: fixed;
	left:67.3%;
	width:320px;
	height: 260px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	z-index: 25;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

.detalle-mapa-cabecera
{
	height: 20px;
	line-height: 20px;
	padding: 3px;
    border-bottom:thin solid #CCCCCC;
}

.detalle-mapa-cabecera-lugar
{
	font-weight: bold;
}

.detalle-mapa-cabecera-volver
{
	font-weight: bold;
	color:blue;
	cursor:hand;cursor:pointer;
	float:right;
}

.detalle-mapa-mapa
{
	height: 162px;
    border-bottom:thin solid #CCCCCC;

}

.detalle-mapa-pie
{
	height: 42px;
	padding: 3px;
	display: none;
    border-bottom:thin solid #CCCCCC;
}

.detalle-mapa-pie-izquierda
{
	float:left;
	width: 195px;
}
.detalle-mapa-pie-nombre
{
	font-weight: bold;
}

.detalle-mapa-pie-direccion
{
}

.detalle-mapa-pie-tipo
{
	float:left;
	width: 30px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
}

.detalle-mapa-pie-tipo-convocatoria
{
	background-image: url("/icons/Event-Unique.64.png");		
}

.detalle-mapa-pie-tipo-recurrente
{
	background-image: url("/icons/Event-Recurring.64.png");		
}

.detalle-mapa-pie-calendario
{
    border:2px solid #000000;
    width: 40px;
    height: 40px;
    line-height: 20px;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    float:left;
}

.detalle-mapa-pie-calendario-top
{
    background-color: #6666ff;
    color: #eeeeee;
    height: 20px;    
}

.detalle-mapa-pie-calendario-bottom
{
    
}

.detalle-mapa-cabecera-abajo
{
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    display: none;
}



.detalle-mapa-pie-hora-inicio,.detalle-mapa-pie-hora-final
{
	font-weight: bold;
	float:left;
	padding-left: 4px;
	font-size: 14px;
	line-height: 21px;
}

.addthis_counter
{
	margin-left: 1px !important;	/*Para dejar margen por la izquierda*/
}

.follow_eye
{
	float:right;
	padding-top: 0px;
	padding-left: 22px;
	font-weight: bold;
	color: #6666ff;
	font-size: 16px;
	height: 20px;
	line-height: 21px;
	cursor:hand;cursor:pointer;
	background-image: url("/icons/follow_eye20x20.png");		
	background-repeat: no-repeat;
}