.supergrupo-template
{
	display:none;	
}

.supergrupo
{
}

.supergrupo-cabecera
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;	
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

.grupo-template
{
}
.grupo,
.grupo-template,
.grupo-cabecera-izq,
.grupo-cabecera-cntr,
.grupo-cabecera-dch 
.grupo-pie
{
	width: 635px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color: white;
	margin-top: 0; 
}

.grupo,
.grupo-template
{
	position:relative;
	/*box-shadow: 7px 7px 10px #888888;	
	border-radius: 8px;*/
	margin-bottom: 20px;
}

.grupo-cabecera 
{
	background-color:#999999;
	height: 20px;
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}	

.grupo-cabecera-izq 
{
	position:absolute;
	font-style: italic;
	margin-left: 10px;
}

.grupo-cabecera-cntr 
{
	position:absolute;
	text-align:center;
	font-weight: bold;
}

.grupo-cabecera-dch 
{
	position:absolute;
	text-align:right;
	width:630px;
}

.grupo-pie 
{
	text-align:center;
	vertical-align: middle;	
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}	

.grupo-pie-convocatoria,.grupo-pie-recurrente,.grupo-pie-institucion,.grupo-pie-organizacion,.grupo-pie-colectivo
{
	height: 28px;
	text-align:center;
	vertical-align: middle;
	font-weight: bold;
	
    display: inline-block;    
    padding-left:5px;
	padding-right:5px;

	color:black;
}

.grupo-pie-convocatoria:hover,.grupo-pie-recurrente:hover,.grupo-pie-institucion:hover,.grupo-pie-organizacion:hover,.grupo-pie-colectivo:hover
{
	cursor:hand;cursor:pointer;
}

.grupo-pie-convocatoria-texto,.grupo-pie-recurrente-texto,.grupo-pie-institucion-texto,.grupo-pie-organizacion-texto,.grupo-pie-colectivo-texto
{
    display: inline-block;
    padding-bottom: 10px;
    line-height: 28px;
	vertical-align: middle;
}

.grupo-pie-convocatoria-imagen,.grupo-pie-recurrente-imagen,.grupo-pie-institucion-imagen,.grupo-pie-organizacion-imagen,.grupo-pie-colectivo-imagen
{
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;

    width: 20px;
	height: 20px;
	margin-right:2px;
	margin-top:4px;
	display: inline-block;
}

.grupo-pie-convocatoria-imagen
{
	background-color:#FFCCCC;
	background-image: url("icons/Event-Unique.64.png");	
}

.grupo-pie-recurrente-imagen
{
	background-color:#CCCCFF;
	background-image: url("icons/Event-Recurring.64.png");	
}

.grupo-pie-institucion-imagen
{
	background-color:#BBDDFF;
	background-image: url("icons/icon_CitYsens.institucion.png");	
}

.grupo-pie-organizacion-imagen
{
	background-color:#CCFFCC;
	background-image: url("icons/icon_CitYsens.organizacion.png");	
}

.grupo-pie-colectivo-imagen
{
	background-color:#FFBBDD;
	background-image: url("icons/CitYsens.people.png");	
}

.grupo-fila-eventos,
.grupo-fila-procesos,
.grupo-fila-organizaciones
{
	color: black;
	position:relative;
	border-bottom:thin solid #CCCCCC;

	height: 40px;
}

.grupo-fila-organizaciones
{
	height: 45px;	
}

div[class*='grupo-fila-']:hover
{
		cursor: pointer; cursor: hand;		
		background-color: #ffffe2;
}
.grupo-fila-hover
{
background-color: #ffffe2;    
}
.grupo-fila-selected
{
	box-shadow:0 2px 3px #aaa, 0 -2px 3px #aaa;
	z-index:10;
	background-color: #FFE8D1 !important;
}

.grupo-fila-convocatoria
{
	border-left:thick solid #FFCCCC; 	
}

.grupo-fila-recurrente
{
	border-left:thick solid #CCCCFF; 	
}

.grupo-fila-iniciativa
{
	border-left:thick solid #FFFFCC; 	
}

.grupo-fila-institucion
{
	border-left:thick solid #BBDDFF; 	
}

.grupo-fila-organizacion
{
	border-left:thick solid #CCFFCC; 	
}

.grupo-fila-colectivo
{
	border-left:thick solid #FFBBDD; 	
}

.grupo-fila-last
{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

div[class*='grupo-elemento-']
{
	position: absolute;	
}

.grupo-elemento-hora
{
	font-weight: bold;
	left: 22px;
	top:2px;
}

.grupo-elemento-puntos
{
	font-size: 14px;
	font-weight: bold;
	top: 4px;
	left: 26px;
}

.grupo-elemento-copa
{
	background-image: url("icons/copaBig.png");	
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;

	top: 3px;
	left: 5px;
}


.grupo-elemento-tipo
{
	right: 5px;
	top: 5px;
	z-index: 1;
}

.grupo-elemento-participante
{
	left: 28px;
	top: 6px;
	width:17px;
	height:17px;
	padding-bottom: 2px;
	background-color: #ff4369;
	border-radius: 4px;
}


.grupo-elemento-handup
{
	left: 27px;
	bottom: 4px;
	visibility: hidden;
}

.grupo-elemento-handup:hover
{
		cursor: pointer; cursor: hand;	
}

.grupo-elemento-handdown
{
	left: 6px;
	bottom: 2px;
}

.grupo-elemento-temp
{
	left: -13px;
	top:3px;
	width: 24px;
	height: 32px;
	padding-left: 8px;
	border-width: 1px;
}

.grupo-elemento-logo
{
	left: 55px;
	top:3px;
	width: 32px;
	height: 40px;
	padding-left: 8px;
	border-width: 1px;
}

.grupo-elemento-titulo
{
	top:2px;
	left: 65px;
	width: 525px;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
        text-overflow: ellipsis;
	color:#6666ff;
	font-weight: bold;
}

.grupo-elemento-tituloOrg
{
	top:2px;
	left: 110px;
	width: 485px;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
        text-overflow: ellipsis;
	color:#6666ff;
	font-weight: bold;
}

.grupo-elemento-texto
{
	position:absolute;
	left: 140px;
	top:22px;
	font-size: 12px;
	height: 30px;
	visibility:hidden;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

.grupo-elemento-textoOrg
{
	position:absolute;
	left: 110px;
	top:22px;
	font-size: 12px;
	height: 30px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

.grupo-elemento-lugar
{
	/*font-weight: bold;*/
	left: 65px;
	top: 20px;
	width:150px;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.grupo-elemento-lugarOrg
{
	font-weight: bold;
	right: 5px;
	bottom: 5px;
	width:110px;
	height: 16px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
        font-size: 14px;
}
