.informacion
{
    position: fixed;
    left:67.3%;
    top: 362px;
    width: 320px;
    padding-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    z-index: 25;
    display:none;
}

.informacion-cabecera 
{
  /*  height: 50px;
    border-bottom:thin solid #CCCCCC;
    width: 100%;
    cursor:hand;cursor:pointer;*/

}

.informacion-cabecera-izq
{
    float:left;
    width: 90px;
    height: 50px;
    border-right:thin solid #CCCCCC;
    margin-right: 2px;
    border-bottom:thin solid #CCCCCC;
}

.informacion-cabecera-izq-calendario
{
    margin-left: 3px;
    margin-top: 3px;
    border:2px solid #000000;
    width: 40px;
    height: 42px;
    line-height: 22px;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    float:left;
}

.informacion-cabecera-izq-calendario-top
{
    background-color: #6666ff;
    color: #eeeeee;
    height: 20px;    
}

.informacion-cabecera-izq-calendario-bottom
{
    
}

.informacion-cabecera-izq-horas
{
    margin-left: 0px;
    margin-top: 5px;
    height: 40px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.informacion-cabecera-izq-horas-top
{
    margin-top: 0px;
    height: 20px;    
}

.informacion-cabecera-izq-horas-bottom
{
    
}

.informacion-cabecera-izq-entidad
{
}

.informacion-cabecera-izq-entidad-izq
{
    float:left;
    width: 50px;
    height: 50px;
    background-image: url("icons/CitYsens.people.png");    
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    
}

.informacion-cabecera-izq-entidad-dch
{
    float:left;
    width: 40px;
    display: none;
}

.informacion-cabecera-izq-entidad-top
{
    height: 25px;
    background-image: url("icons/icon_CitYsens.Libros.png");    
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 90% 70%;
}

.informacion-cabecera-izq-entidad-bottom
{
    height: 25px;
    background-image: url("icons/icon_CitYsens.house.png");    
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 90% 30%;
}



.informacion-cabecera-dch
{
    top:10px;
    width: 100%;
    height: 50px;
    border-bottom:thin solid #CCCCCC;
}


.informacion-cabecera-dch-titulo
{
    height: 40px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
}

.informacion-cabecera-dch-titulo-top
{
    font-size: 14px; 
    color: #6666ff;
}

.informacion-cabecera-dch-titulo-bottom
{
    margin-top: -2px;
    text-align: right;
    margin-right: -6px;
    font-size: 12px;
}

.informacion-cabecera-abajo
{
    height: 0px;
    line-height: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    display: none;
}


.informacion-cuerpo
{
    padding: 3px;
    max-height: 180px;
    text-align: left;
    overflow-y: auto;
    border-bottom:thin solid #CCCCCC;
}

.informacion-cuerpo-descBreve
{
    font-style: italic;
    font-weight: bold;
}

.informacion-cuerpo-tematicas-elemento,.informacion-cuerpo-etiquetas-elemento
{
    clear:both;
    float:left;
    margin-right:5px;
}


.informacion-cuerpo-tematicas-listado,.informacion-cuerpo-etiquetas-listado
{
    margin-left: 87px;
    padding-top: 5px;
}



.informacion-cuerpo-tematicas-img
{
    position: relative;
    top: 3px;
    width: 15px;
}


.informacion-cuerpo-contacto
{
    padding-top:10px;
    clear:both;    
}

.informacion-cuerpo-contacto-elemento
{
    height: 13px;    
    font-size: 14px; 
    color: #6666ff;
    font-weight: bold;    
    padding-left: 18px;
}

.informacion-cuerpo-texto
{
  /*  margin-top: 10px;    */
}

.informacion-pie
{
    padding: 3px;
    text-align: left;
}

