.leaflet-div-icon {
	background: #6666ff;
	border-color: #ddd;
	border-width: 2px;
        border-radius: 50%;
        box-shadow:4px 4px 7px #aaa;
        display:none;
    
}

.leaflet-marker-icon
{
}
 
.leaflet-marker-icon .number{
	position: relative;
	top: 5px;
	text-align: center;
	color:white;
	text-shadow:1px 1px 6px #000000;
}

.leaflet-target-icon,.leaflet-div-icon {
	pointer-events:none;
}
.leaflet-target-icon
{
        margin-left: -27px;
	background: transparent;	
}
