.leaflet-div-icon {
	background: #6666ff;
	border-color: #ddd;
	border-width: 2px;
    border-radius: 50%;
    box-shadow:4px 4px 7px #aaa;
}

.leaflet-marker-icon
{
}
 
.leaflet-marker-icon .number{
	position: relative;
	top: 5px;
	text-align: center;
	color:white;
	text-shadow:1px 1px 6px #000000;
}

.leaflet-target-icon,.leaflet-div-icon {
	pointer-events:none;
}
.leaflet-target-icon
{
	background: transparent;	
}
leaflet-irAPadre-icon{
        fillColor: #ffaaaa;
        opacity: 1;
        weight: 1;
        z-index: 100;
}
.leaflet-polygon{
    fillColor: #ffaaaa;
    opacity: 1;
    weight: 1;
}

.leaflet-polygon .uncle{
    fillColor: #e9967a; //darksalmon
}

.leaflet-polygon .brother{
    fillColor: #ffff00; //yellow
}

.leaflet-polygon .child{}

.leaflet-polygon:hover{
    color: #9acd32;  //yellowgreen
    dashArray: '';
    fillOpacity: 0.5;
}
