.leaflet-div-icon {
        
	/*background: #6666ff;
	border-color: #ddd;
        border-radius: 50%;
        box-shadow:4px 4px 7px #aaa;retirado el circulo azul*/
        background: transparent;
        border-width: 0px;
        display:none;
    
}
/*for default markers*/
.leaflet-marker-icon, .leaflet-marker-shadow
{
    pointer-events:none;
}
 
.leaflet-marker-icon .number{
	position: relative;
	top: 3px;
	text-align: center;
	color:white;
	text-shadow:1px 1px 5px #000000;
        font-weight: bolder;
        font-size: 1.2em;
}

.leaflet-target-icon,.leaflet-div-icon {
	pointer-events:none;
}
.leaflet-target-icon
{
	background: transparent;	
}


