/*CitYsens*/

.switch-filas,
.switch-filas-on
{
	cursor: pointer; 
}

.switch-filas-off
{
	opacity:0.3;
}

.filtros
{
	width: 330px;
	height: 64px;
	margin-bottom: 10px;

}

.boton-accion-entidad
{
	cursor: pointer; 
	float:left;
	width: 70px;
	height: 64px;
}
.filtros-area
{
	width: 152px;
	height: 50px;
	margin-top: 7px;
	float:left;
	overflow:hidden;
}
.filtros-area2
{
	width: 320px;
	height: 50px;
	float:left;
}

.filtros-accion
{
	float:left;
}
.filtros-entidad
{
	float:left;
	margin-left:-304px;
}


.grupo,
.grupo-cabecera-izq,
.grupo-cabecera-cntr,
.grupo-cabecera-dch 
{
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color: white;
}

.grupo
{
	box-shadow: 7px 7px 10px #888888;	
	border-radius: 8px;
	margin-bottom: 20px;
}

.grupo-cabecera 
{
	background-color:#932626;
	height: 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}	

.grupo-cabecera-izq 
{
	position:absolute;
	font-style: italic;
	margin-left: 10px;
}

.grupo-cabecera-cntr 
{
	position:absolute;
	text-align:center;
	font-weight: bold;
}

.grupo-cabecera-dch 
{
	position:absolute;
	text-align:right;
	color:#c99393;
}
.grupo-filas
{
	position: relative;	
	color: black;
}

.grupo-fila
.grupo-fila-convocatoria
.grupo-fila-recurrente
.grupo-fila-iniciativa
.grupo-fila-reunion
{
	padding:2px;	
}

.grupo-fila-convocatoria
{
	background-color:#FFCCCC; 	
	border-bottom:thin solid #CCCCCC;
}
.grupo-fila-recurrente
{
	background-color:#CCCCFF; 	
	border-bottom:thin solid #CCCCCC;
}
.grupo-fila-iniciativa
{
	background-color:#FFFFCC; 	
	border-bottom:thin solid #CCCCCC;
}
.grupo-fila-reunion
{
	background-color:#FFEEFF; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-institucion
{
	background-color:#FFDDBB; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-organizacion
{
	background-color:#CCFFCC; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-colectivo
{
	background-color:#FFBBDD; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-persona
{
	background-color:#FFDDFF; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-last
{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.grupo-elemento-hora
{
	position:absolute;
}

.grupo-elemento-titulo
{
	margin-left: 70px;
	}

.grupo-elemento-texto
{
	margin-left: 70px;
	height: 30px;
}

.grupo-elemento-lugar
{
	position: relative;
	text-align: right;
	margin-top: -16px;
}

