/*CitYsens*/
html,body 
{ 
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	background-color: #EEEEEE;
}

.cabecera
{
	position:fixed;
	background-color: #6666ff;
	width:100%;
	height: 46px;
	top:0px;
	z-index: 100;
 	font-family: Arial, Helvetica, sans-serif;
}

.cabecera-cuerpo
{
	width:960px;
 	height: 100%;
 	margin: 0 auto;
	position: relative;
}


.cabecera-logo
{
	margin-top:4px;
	position: absolute;
}
.cabecera-busqueda
{
	margin-left: 65px;
	margin-top: 4px;
	position: absolute;
}
.cabecera-lupa
{
	margin-left: 762px;
	margin-top: 7px;
	position: absolute;
}
.cabecera-derecha
{
	top:16px;
	right:20px;
	position: absolute;
	color:white;
	
}
.input-busqueda
{
	font-size: 20px;
    width:685px;
    height:32px;
}

.scroll-curtain
{
	background-color: #EEEEEE;
 	width:100%;
 	height: 73px;
 	left:0px;
 	top:46px;
 	position: fixed; 	
 	z-index: 20;
}


.cuerpo
{
	/*background-color: #FFFF00;*/
	width:960px;
 	height: 100%;
 	margin: 0 auto;
	margin-top: 55px;
	position: relative;
}




.agenda
{
	/*background-color: #FF0000;*/
	width: 640px;
	position: absolute;
	margin-top: 75px;
	height: 100%;
}

.map
{
	position: fixed;
	left:67.3%;
	top: 55px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	z-index: 25;
}
.map-breadcrumbs
{
	margin-top: 5px;
	margin-left: 5px;
}

.map-map
{
}


.switch-filas,
.switch-filas-on
{
	cursor: pointer; 
}

.switch-filas-off
{
	opacity:0.3;
}

.filtros,.map,.grupo
{
  box-shadow:0 2px 3px #aaa;
  background:white;
  border-radius:3px;
}

.filtros
{
	width: 655px;
	height: 64px;
	top:55px;
	z-index: 51;
	margin-left:-10px;
	
	position:fixed;


}

.boton-accion-entidad
{
	cursor: pointer; 
	float:left;
	width: 70px;
	height: 64px;
}
.filtros-area
{
	width: 152px;
	height: 50px;
	margin-top: 7px;
	float:left;
	overflow:hidden;
}
.filtros-area2
{
	width: 320px;
	height: 50px;
	float:left;
}

.filtros-accion
{
	float:left;
}
.filtros-entidad
{
	float:left;
	margin-left:-304px;
}

.ordenar
{
	height: 64px;
	right: 5px;
	top:5px;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.ordenar-correo
{
	position:absolute;
	border: solid;
	border-width: 2px;
	font-weight: bold;
	right:90px;
	width:70px;
	top:16px;
	box-shadow: 3px 3px 1px #888888;	
	text-align: center;
}
.boton-ordenar
{
	position:absolute;
	right:0px;
	width:66px;

}
.boton-ordenar-texto
{
	position:absolute;
	width:66px;

}
.boton-ordenar-imagen
{
	position:absolute;
	top:17px;
	right: 19px;
}

.grupo,
.grupo-cabecera-izq,
.grupo-cabecera-cntr,
.grupo-cabecera-dch 
.grupo-pie
{
	width: 635px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color: white;
	margin-top: 
}

.grupo
{
	position:relative;
	/*box-shadow: 7px 7px 10px #888888;	
	border-radius: 8px;*/
	margin-bottom: 20px;
}

.grupo-cabecera 
{
	background-color:#932626;
	height: 20px;
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}	

.grupo-cabecera-izq 
{
	position:absolute;
	font-style: italic;
	margin-left: 10px;
}

.grupo-cabecera-cntr 
{
	position:absolute;
	text-align:center;
	font-weight: bold;
}

.grupo-cabecera-dch 
{
	position:absolute;
	text-align:right;
	width:630px;
	color:#c99393;
}

.grupo-pie 
{
	background-color:#DDDDDD;
	height: 20px;
	
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	
}	


.grupo-filas
{
	position: relative;	
	color: black;
}

.grupo-fila
.grupo-fila-convocatoria
.grupo-fila-recurrente
.grupo-fila-iniciativa
.grupo-fila-reunion
{
	padding:2px;	
	position:absolute;
}

.grupo-fila-convocatoria
{
	position: relative;
	background-color:#FFCCCC; 	
	border-bottom:thin solid #CCCCCC;
}
.grupo-fila-recurrente
{
	background-color:#CCCCFF; 	
	border-bottom:thin solid #CCCCCC;
}
.grupo-fila-iniciativa
{
	background-color:#FFFFCC; 	
	border-bottom:thin solid #CCCCCC;
}
.grupo-fila-reunion
{
	background-color:#FFEEFF; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-institucion
{
	background-color:#FFDDBB; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-organizacion
{
	background-color:#CCFFCC; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-colectivo
{
	background-color:#FFBBDD; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-persona
{
	background-color:#FFDDFF; 	
	border-bottom:thin solid #CCCCCC;
}

.grupo-fila-last
{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.grupo-elemento-hora
{
	font-weight: bold;
	margin-left: 80px;
}

.grupo-elemento-handup
{
	left: 5px;
	top: 3px;
	position: absolute;
}

.grupo-elemento-handdown
{
	left: 5px;
	top: 24px;
	position: absolute;
}

.grupo-elemento-temp
{
	left: 29px;
	top:3px;
	position: absolute;
}

.grupo-elemento-logo
{
	right: 5px;
	top: 3px;
	position: absolute;
	z-index: 10;
}

.grupo-elemento-titulo
{
	margin-left: 160px;
	margin-top: -16px;
	color:#6666ff;
	font-weight: bold;
}

.grupo-elemento-texto
{
	margin-left: 160px;
	margin-top: -16px;
	height: 30px;
}

.grupo-elemento-lugar
{
	font-weight: bold;
	margin-left: 80px;
	margin-top: 0px;
	width:75px;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
  text-overflow: ellipsis;
}